<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${isEdit ? 'Edit ' + singularTitle : 'Create ' + singularTitle}">Entity Form</title>
</head>
<body>
<h1 th:text="${isEdit ? 'Edit ' + singularTitle : 'Create ' + singularTitle}">Entity Form</h1>

<form th:action="${isEdit} ? @{|${basePath}/${item.id}|} : @{|${basePath}|}" th:object="${item}" method="post">
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" th:field="*{name}" required>
    </div>

    <div>
        <label for="createdBy">Created By</label>
        <input id="createdBy" type="text" th:field="*{createdBy}" required>
    </div>

    <div>
        <label for="updatedBy">Updated By</label>
        <input id="updatedBy" type="text" th:field="*{updatedBy}" required>
    </div>

    <div>
        <button type="submit" th:text="${isEdit} ? 'Update' : 'Create'">Save</button>
        <a th:href="@{|${basePath}|}">Cancel</a>
    </div>
</form>
</body>
</html>


